<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="golf.laurinka.com.zens52" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="capptain:appId"
            android:value="zen000000" />
        <service android:name="com.ubikod.capptain.android.service.CapptainService" android:label="52ZensService" android:process=":Capptain">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.ubikod.capptain.ICapptainService" />
                <data android:scheme="capptain" />
            </intent-filter>
            <meta-data android:name="capptain:api:level" android:value="23" />
            <meta-data android:name="capptain:api:id" android:value="b6a5b1113175bf391e442a8653876b84" />

            <meta-data android:name="capptain:log:test" android:value="true" />

        </service>
        <activity
            android:name=".ZenListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZenDetailActivity"
            android:label="@string/title_zen_detail"
            android:parentActivityName=".ZenListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ZenListActivity" />
        </activity>
    </application>

</manifest>
